header, footer, section, article{
margin-left:5px;
margin-right:5px;
padding:5px;
background-color:white;
}
header, footer{
text-align:center; 
background-color:blue;
color:white;
margin-left:0px;
margin-right:0px;
}
article{color:black;}
section{background-color:#ddd;}
.center{text-align:center;}
.left{text-align:left;}
.error{color:red;}
h2,h3,h4{text-align:center; color:blue;}
p{padding:5px;background-color:#BBFFF6;border-radius:4px;}
table,th,td{text-align:center;padding:3px;border: 1px solid black;}
table caption{caption-side:top; display: table-caption;
text-align:center; color:blue; font-family:sans-serif; font-style:italic;
}
html{scroll-padding-top:55px;}
