

header,footer,section,article{
margin-left:5px;
margin-right:5px;
padding:5px;
background-color:white;
 }
 header,footer{text-align:center; color:white; background-color:blue;}
 article{color:black }
 section{background-color:#ddd; }
.center{text-align:center;} 
.left{text-align:left; }
.red{color:red; }
h2,h3,h4{text-align:center; color:blue;}
p{padding:10px; background-color:#BBFFF6;border-radius:3px; }
table,td,th{text-align:center; padding:5px; border: 1px solid black;}
table caption{caption-side:top; display:table-caption;
 text-align:center;color:blue;font-family:sans-serif; font-style:italic;}